/* Общие стили */
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Установка
шрифта */
margin: 0; /* Убираем внешние отступы */
padding: 0; /* Убираем внутренние отступы */
background-color: #353746; /* Цвет фона */
color: #eeeeec; /* Цвет текста */
}
/* Стили для заголовка */
header {
background-color: #464c5e; /* Цвет фона */
padding: 20px; /* Внутренние отступы */
text-align: center; /* Выравнивание текста по центру */
color: #FFC000; /* Цвет текста */
margin-bottom: 20px; /* Внешний отступ снизу */
-webkit-text-stroke: 2px #FFC000; /* Обводка текста */
-webkit-text-fill-color: transparent; /* Цвет текста за обводкой */
}
header h1 {
margin-top: 15px; /* Внутренний отступ сверху */
font-size: 48px; /* Размер шрифта */
}
/* Стили для таблицы .table_shop */
.table_shop {
font-weight: bold; /* Жирный шрифт */
font-size: 30px; /* Размер шрифта */
width: 80%; /* Ширина таблицы */
margin: 0 auto; /* Выравнивание по центру */
border-collapse: collapse; /* Слияние границ ячеек */
background-color: #464c5e; /* Цвет фона */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
color: #FFC000; /* Цвет текста */
border-radius: 80px; /* Радиус скругления углов */
animation: fadeIn 0.8s ease-in-out; /* Анимация появления */
}
/* Стили для таблицы товаров .table_shop1 */
.table_shop1 {
font-size: 20px; /* Размер шрифта */
width: 80%; /* Ширина таблицы */
margin: 0 auto; /* Выравнивание по центру */
border-collapse: collapse; /* Слияние границ ячеек */
margin-top: 20px; /* Внешний отступ сверху */
background-color: #f9f9f9; /* Цвет фона */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
color: #333; /* Цвет текста */
animation: fadeIn 0.8s ease-in-out; /* Анимация появления */
}
@keyframes fadeIn {
from {
opacity: 0; /* Начальная непрозрачность */
}
to {
opacity: 1; /* Конечная непрозрачность */
}

}
/* Стили для нечетных строк таблицы .table_shop */
.table_shop1 tr:nth-child(odd) {
background-color: #f2f2f2; /* Цвет фона для нечетных строк */
}
.table_shop1 th,
.table_shop1 td {
padding: 20px; /* Внутренние отступы */
text-align: center; /* Выравнивание текста по центру */
border-bottom: 1px solid #ccc; /* Горизонтальная линия под каждой строкой */
}
.table_shop1 tr:hover {
background-color: #dddada; /* Изменение цвета фона при наведении */
transition: background-color 0.3s ease-in-out; /* Плавное изменение цвета фона
*/
}
/* Стили для футера таблицы .table_shop1 */
.table_shop1 tfoot {
font-weight: bold; /* Жирный шрифт */
}
/* Стили для изображений в таблице */
.table_shop1 img {
max-width: 100px; /* Максимальная ширина изображения */
max-height: 100px; /* Максимальная высота изображения */
}