/* Стили для основного тела документа */
body {
    font: 300 15px/1.7 'Montserrat', sans-serif;
    color: #eeeeec;
    background: #FFC000;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стили для формы регистрации */
.reg {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 5px;
    animation: fadeIn 0.3s ease-in-out;
}

/* Анимация появления формы */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Стили для заголовка формы */
.reg h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

/* Стили для меток формы */
.reg label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
    display: block;
}

/* Стили для полей ввода */
.reg .form-control {
    width: 95%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Стили для кнопки отправки */
.reg .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Стили для кнопки при наведении */
.reg .btn-primary:hover {
    background-color: #0056b3;
}

/* Стили для дополнительного текста */
.reg .form-text1,
.reg #emailHelp {
    font-size: 14px;
    color: #353746;
    margin-top: 5px;
}

/* Стили для ссылки */
.reg a {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.reg a:hover {
    color: #0056b3;
}