body {
    font: 300 15px/1.7 'Montserrat', sans-serif; /* Установка шрифта, размера и линейного интервала */
    color: #eceeec; /* Цвет текста */
    background: #FFC000;
    overflow: hidden; /* Скрытие содержимого, выходящего за границы элемента */
    height: 100vh; /* Высота 100% высоты видимой области */
    width: 100%; /* Ширина 100% ширины видимой области */
}

/* Стили для центрированного блока */
.section-center {
    position: absolute; /* Позиционирование абсолютно */
    top: 50%; /* Расположение по вертикали на 50% относительно родительского элемента */
    left: 0; /* Расположение слева на 0 */
    display: block; /* Отображение как блочный элемент */
    width: 100%; /* Ширина 100% ширины родительского элемента */
    padding: 0; /* Внутренний отступ 0 */
    margin: 0; /* Внешний отступ 0 */
    z-index: 6; /* Позиционирование по оси Z */
    text-align: center; /* Выравнивание текста по центру */
    transform: translateY(-50%); /* Смещение по вертикали на -50% от собственной высоты */
}

/* Стили для заголовка */
h1 {
    font: 800 7vw/1 'Montserrat', sans-serif; /* Установка шрифта, размера, жирности и линейного интервала */
    color: #ffebaf; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    -webkit-text-stroke: 5px #000000; /* Обводка текста */
    -webkit-text-fill-color: transparent; /* Заполнение текста прозрачным цветом */
}